
/* Main Content */
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Adding space between the sections */
}

/* Container for individual artifact sections */
.artifact-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Styling for the intro section */
.intro {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.intro h2 {
    font-family: 'Playfair Display', serif;
    color: #7a5252;
    font-size: 50px;
    margin-bottom: rem;
}

.intro h3 {
    font-size: 3rem;
    margin-bottom: 1rem;  /* Increased space between paragraphs */
}

/* Paragraph styling */
 p {
    margin-top: auto ;
    margin-bottom: auto;  /* Increased space between paragraphs */
    line-height: 1.8;
    text-align: left;
    font-size: 2rem;
 }

 ul {
    font-size: 2rem;   /* Adjusts font size for readability */
    line-height: 1.6;    /* Makes the list items more spaced out */
    text-align: left;

}

ul li {
    margin-bottom: 10px; /* Adds space between list items */
}

h3{
    margin-top: auto;
font-family: 'Playfair Display', serif;
    color: #7a5252;
    font-size: 50px;
    margin-bottom: 1rem;
}


